body { 
    width:960px; 
    margin:15px auto; 
    font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
    /*background-color:#cad0fc;*/

}

p {
    margin: 0 0 20px 0
}

img#logo {
    margin:0;
    padding:0;
    padding-left:5px;
    display:inline;
    width:25%;
}

header#page_header{
    width:100%;
    /*background-color:#7782A0;*/
    background-color:#cad0fc;
    color:#2f2f2f;
    margin:0;
    padding:0;
    margin-top:-15px;
    border: 1px solid #000;
}

header#page_header h1{
    margin:0;
    padding:0;
    display:inline;
}


/* header nav bar */
nav#nav_bar {
    background-color:#0e162a;
    color:#828aa0;
}

nav#nav_bar a, nav#nav_bar .fakeLink{
    color:#fff;
    font-size:9pt;
    text-decoration:none;
}

nav#nav_bar a:hover,nav#nav_bar .fakeLink:hover {
    background-color:#828aa0;
}

nav#nav_bar ul {
    display:inline;
}

nav#nav_bar span{
    padding-left:10px;
    padding-right:10px;
}

#other_menu {
    visibility:hidden;
    position:absolute;
    background: #0e162a;
    left:475px;
}

#other_menu a {
    display:block;
    padding-left:5px;
    padding-right:5px;
}
/* END header nav bar */

.fakeLink {    
    color:#093955;
    text-decoration:underline;
    cursor:pointer;
}


header#page_header nav ul, #page_footer nav ul {
    list-style:none;
    margin:0;
    padding:0;
}

#page_header nav ul li, footer#page_footer nav ul li {
    padding:0;
    margin: 0 20px 0 0;
    display:inline;
}

section#main{
    float:left;
    width:60%;
    padding-left:10%;
}

section#sidebar{
    float:right;
    width:25%;
}

footer#page_footer{
    clear:both;
    width:100%;
    display:block;
    text-align: center;
    background-color:#0e162a;
    color:#828aa0;
    font-size:8pt;
}

footer#page_footer a{
    color:#fff;
} 

a {
    color:#093955;
}


/* login unit */

#login {
   padding-top:5px;
   padding-right:5px;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 10pt;
   color:#7782a0;
   display:inline;
   float:right;
}

.notification {
    padding-top:5px;
    margin:0px 0px 2px 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9pt;
    color:#7782a0;
    float:left;
    display:inline;
}
