body {
    color:#2f2f2f;
    font-size:8pt;
}

p.info {
    color:gray;
    width:100%;
    margin: 5px, 0, 0, 0;
}
span.label {
    padding-right:10px;
    padding-left:10px;
    padding-top:0px;
    padding-bottom:0px;
    margin:0;
}
span.value {
    margin-left:25px;
    display:block;
    color:#000;
}

input#submitBtn {
    margin-left:61%;
    width:10%;
}

input#fetchBtn {
    width:10%;
}

input#importBtn {
    width:10%;
}

/* for new_paper_form--actually this is a better way to style forms */
form p {
    clear: left;
    margin:0;
    padding:0;
    padding-top:5px;
}

form p label {
    float:left;
    width:30%;
    color:gray;
}

form p input {
    width:40%;
}

form p textarea {
    width:40%;
}

form p a {
    margin-left:15px;
}

/* for new_replicate_form add a replicate btn, which we use as an a */
form p span.a {
    text-decoration:underline;
    color:blue;
    cursor:pointer;
}

/* manage_files stuff */
/* non-block value */
/*NOTE: i want these two columns to be centered about a central line--ref
css book*/
p.info2 {
    color:gray;
    width:100%;
    margin: 0;
    padding:0;
    font-size:10pt;
    padding-top:2px;
    padding-bottom:2px;
}

span.label2 {
    padding:0;
    margin:0;
    padding-left:30%;
    padding-right:2%;
    text-align:right;
}

span.value2 {
    margin-left:5px;
    color:#000;
}

