p.info {
    color:gray;
    width:100%;
    margin: 5px, 0, 0, 0;
}
span.label {
    padding-right:10px;
    padding-left:10px;
    padding-top:0px;
    padding-bottom:0px;
    margin:0;
}
span.value {
    margin-left:25px;
    display:block;
    color:#000;
}

input#submitBtn {
    margin-left:230px;
}

/* for new_paper_form--actually this is a better way to style forms */
form p {
    clear: left;
    margin:0;
    padding:0;
    padding-top:5px;
}

form p label {
    float:left;
    width:30%;
    color:gray;
}

form p input {
    width:40%;
}

form p textarea {
    width:40%;
}

form p a {
    margin-left:15px;
}

/* for new_replicate_form add a replicate btn, which we use as an a */
form p span.a {
    text-decoration:underline;
    color:blue;
    cursor:pointer;
}

/*       
p.info span {
    color:gray;
}
*/

/*
#content_div {
   position:relative;
   left:30%;
   width:850px;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 10pt;
}
.section_hdr {
   display: block;
   color:#b2bbbe;
}

form {
}

form p {
   clear: left;
   margin: 0;
   padding:0;
   padding-top: 5px;
}

form p label {
   float: left;
   width: 15%;
   font: bold 0.9em Helvetica, Arial, sans-serif;
   color:#fff;
}

input {
   color: #00008b;
   background-color: #e3f2f7;
   border: 1px inset #00008b;
   width: 200px;
}

textarea {
   width:200px;
   height:100px;
}

.msg {
   color:#fff;
}
*/
