# Django settings for newdc project.

#LEN-DEFINED values
#where newdc is deployed
DEPLOY_DIR="/data1/newdc/"
#DEFINES sub-site prefix
SUB_SITE="newdc/"

from settings_common import *

DEBUG = True
TEMPLATE_DEBUG = DEBUG

DATABASE_ENGINE = 'mysql'
DATABASE_NAME = 'newdc'
DATABASE_USER = 'root'
DATABASE_PASSWORD = 'newdaisy'
DATABASE_HOST = ''
DATABASE_PORT = ''

LOGIN_URL='/newdc/accounts/login/'
LOGIN_REDIRECT_URL='/newdc/'

