# Django settings for newdc project.

#LEN-DEFINED values
#where newdc is deployed
DEPLOY_DIR="/home/lentaing/envs/newdc1.4/src/"
#DEFINES sub-site prefix
SUB_SITE=""

from settings_common import *

DEBUG = True
TEMPLATE_DEBUG = DEBUG

#OBSOLETE:
# DATABASE_ENGINE = 'mysql'
# DATABASE_NAME = 'newdc'
# DATABASE_USER = 'newdc'
# DATABASE_PASSWORD = 'helamcf7'
# DATABASE_HOST = ''
# DATABASE_PORT = ''

DATABASES = {
   'default': {
        'ENGINE': 'django.db.backends.mysql', 
        'NAME': 'newdc',
        'USER': 'newdc',                      
        'PASSWORD': 'helamcf7',                  
        'HOST': '',                      
        'PORT': '',                      
    }
}

LOGIN_URL='/accounts/login/'
LOGIN_REDIRECT_URL='/'
