{% extends "datacollection/base.html" %}

{% block content %}
    <h2>Search</h2>

    <form method="get" action=".">
        <table>
	    <tr><th><label for="id_q">Search Papers:</label></th><td><input type="text" name="q" id="id_q" /></td></tr> 
<!--<tr><th><label for="id_models_0">Search In:</label></th><td><ul> -
<li><label for="id_models_0"><input type="checkbox" name="models" value="datacollection.papers" id="id_models_0" /> Paperss</label></li> 
</ul></td></tr> -->
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>

        {% if query %}
            <h3>Results</h3>

            {% for result in page.object_list %}
                <p>
                    <!--<a href="{{ result.object.get_absolute_url }}">{{ result.object.id }}</a>-->
                    {% comment %}<a href="{% url dataset_profile result.object.id %}">{{ result.object.gsmid }}</a>{%endcomment%}
		    {% if result.object.id %}
		    <a href="{% url paper_profile result.object.id %}">{{ result.object.title }}</a>
		    {% endif %}
		    
                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}
