{% extends "datacollection/base.html" %}
{% load dc_extras %}

{% block title %}Cistrome Paper Collection{% endblock %}
{% block include %}
<link href="{% url static_url %}css/datasets.css" rel="stylesheet" type="text/css"/>
<script src="{% url static_url %}js/prototype.js" type="text/javascript"></script>
<script src="{% url static_url %}js/settings.js" type="text/javascript"></script>
<script src="{% url static_url %}js/all_papers.js" type="text/javascript"></script>
{% endblock %}

{% block login_form %}
      {% if user.is_authenticated %}
      <span id="login">Welcome, {{ user.username }}. <a href="{% url logout %}">logout</a></span>
      {% else %}
      <form action="{% url login %}" method="post" id="login">
         <label for="username">Administrator Login:</label>
	 <input type="text" name="username" id="username"/>
         <label for="password">Password:</label>
	 <input type="password" name="password" id="password"/>
	 <input type="submit" name="login" value="login"/>
      </form>
      {% endif %}
{% endblock %}

{% block onload %}
onload="init();"
{% endblock %}

{% block content %}
<!-- NOTE: the content is created in javascript -->
      {% if user.is_authenticated %}
      <a href="{% url new_paper_form %}">add new paper</a>
      <!--<input type="button" id="batchEdit" value="batch edit"/>-->
      <input type="button" id="deleteBtn" value="delete"/>
      {% endif %}
      {% if pg.paginator.num_pages %}
      <div class="pagination">
          <span class="step-links">
              {% if pg.has_previous %}
	      {% ifnotequal pg.previous_page_number 1 %}
	      <a href="?page=1{{rest}}">first</a>
	      {% endifnotequal %}
              <a href="?page={{pg.previous_page_number}}{{rest}}">previous</a>
              {% endif %}

              <span class="current">Page {{ pg.number }} of {{ pg.paginator.num_pages }}.</span>

              {% if pg.has_next %}
              <a href="?page={{ pg.next_page_number }}{{rest}}">next</a>
	      {% ifnotequal pg.next_page_number pg.paginator.num_pages %}
	      <a href="?page={{pg.paginator.num_pages}}{{rest}}">last</a>
	      {% endifnotequal %}
              {% endif %}
          </span>
      </div>
      {% endif %}
      <table class="datatable" id="papers_table">
         <tr>{% if user.is_authenticated %}
	     <th><input type="checkbox" id="masterCheckbox"/></th>
	     {% endif %}
	     <th>ID</th>
	     <th>Pubmed ID</th>
	     <th>GSEID</th>
	     <th>Title</th>
	     <th>Published</th>
	     <th>Species</th>
	     <th>Factors</th>
	     <th>Last Author</th>
	     <th>Email</th>
	     <th>Status</th>
	     <th>Comments</th>
	     <th>User</th>
	     <th>Date Added</th>
	 </tr>
	 {% for p in pg.object_list %}
	 <tr>
	     {% if user.is_authenticated %}
	     <td><input type="checkbox" class="rowSelect" id="{{p.id}}"/>
	         <a href="{% url update_paper_form p.id %}">edit</a>
	     </td>
	     {% endif %}
	     <td><a href="{% url paper_profile p.id %}">{{ p.id }}</a></td>
	     <td><a href="http://www.ncbi.nlm.nih.gov/pubmed?term={{p.pmid}}" target="_blank">{{ p.pmid }}</a></td>
	     <td><a href="http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc={{p.gseid}}" target="_blank">{{ p.gseid }}</a></td>
	     <td>{{ p.title }}</td>
	     <td>{{ p.journal.name }} {{ p.pub_date|date:"M Y"}}</td>
	     <td>{% for s in p.species %}
	         {{ s }}
		 {% endfor %}
	     </td>
	     <td>{% for f in p.factors %}
	         {{ f }}
		 {% endfor %}
	     </td>
	     <td>{{p.lab}}</td>
	     <td>{{p.last_auth_email}}</td>
	     {% ifequal p.status "imported" %}
	     <td class="imported_row">{{ p.get_status_display }}</td>
	     {% else %} {% ifequal p.status "datasets" %}
	     <td class="datasets_row">{{ p.get_status_display }}</td>
	     {% else %} {% ifequal p.status "downloaded" %}
	     <td class="downloaded_row">{{ p.get_status_display }}</td>
	     {% else %} {% ifequal p.status "complete" %}
	     <td class="complete_row">{{ p.get_status_display }}</td>
	     {% else %} {% ifequal p.status "error" %}
	     <td class="error_row">{{ p.get_status_display }}</td>
	     {% else %}
	     <td>{{ p.get_status_display }}</td>
	     {% endifequal %}{% endifequal %}{% endifequal %}{% endifequal %}{% endifequal %}
	     <td>{{ p.comments }}</td>
	     <td>{{ p.user }}</td>
	     <td>{{ p.date_collected|date:"Y-m-d" }}</td>
	 </tr>
	 {% endfor %}
      </table>
      {% if pg.paginator.num_pages %}
      <div class="pagination">
          <span class="step-links">
              {% if pg.has_previous %}
	      {% ifnotequal pg.previous_page_number 1 %}
	      <a href="?page=1{{rest}}">first</a>
	      {% endifnotequal %}
              <a href="?page={{pg.previous_page_number}}{{rest}}">previous</a>
              {% endif %}

              <span class="current">Page {{ pg.number }} of {{ pg.paginator.num_pages }}.</span>

              {% if pg.has_next %}
              <a href="?page={{ pg.next_page_number }}{{rest}}">next</a>
	      {% ifnotequal pg.next_page_number pg.paginator.num_pages %}
	      <a href="?page={{pg.paginator.num_pages}}{{rest}}">last</a>
	      {% endifnotequal %}
              {% endif %}
          </span>
      </div>
      {% endif %}
{% endblock %}

