<!DOCTYPE html>
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart", "treemap"]});
    </script>

    <title></title>
</head>
<body>

{{ chart.as_html }}

{{ chart2.as_html }}

{{ chart3.as_html }}

{{ chart4.as_html }}

{{ chart5.as_html }}

{{ chart6.as_html }}
</body>
</html>