{% extends "datacollection/login_base.html" %}
{% load dc_extras %}

{% block title %}Cistrome Paper Collection{% endblock %}
{% block include %}
<link href="{% url static_url %}css/home.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="{% url static_url %}js/highcharts.js"></script>
<!--<script src="{% url static_url %}js/prototype.js" type="text/javascript"></script>-->
<script src="{% url static_url %}js/settings.js" type="text/javascript"></script>
<script src="{% url static_url %}js/Utils.js" type="text/javascript"></script>
<script src="{% url static_url %}js/dcstats.js" type="text/javascript"></script>
<style>
.graphInfo {
   color:gray;
   font-size:9pt;
   padding-left:5%;
}
</style>
{% endblock %}

{% block onload %}
onload="init();"
{% endblock %}

{% block content %}
<section id="graphs">
  <div id="dataset_lab_div"></div>
  <p class="graphInfo">This graph displays the number of datasets by lab. The datasets are associated to each paper in our collection, and we designate the last author of the paper as the lab PI.</p>
  <div id="factor_div"></div>
  <div id="platform_div"></div>
  <div id="species_div"></div>
  <div id="cell_type_div"></div>
  <div id="cell_line_div"></div>
  <div id="cell_pop_div"></div>
  <div id="strain_div"></div>
  <div id="condition_div"></div>
  <div id="disease_state_div"></div>
  <div id="paper_journals_div"></div>
  <div id="paper_lab_div"></div>
  <p class="graphInfo">This graph displays the number of papers by lab. We designate the last author of the paper as the lab PI.</p>
  <div id="dataset_journal_div"></div>
</section>

{% endblock %}

{% block sidebar %}
      <nav>
	 <!--<h3>Help:</h3>-->
	 <ul>
	    <!--<li><span>About Cistrome DC</span></li>-->
	    <!--<li><span>FAQ</span></li>-->
	    <li><a href="{% url home %}">Home</a></li>
	    <li><a href="{% url paper_submission %}">Submit a Paper</a></li>
	    <li>Collection Stats</li>
	 </ul>
      </nav>
      {% if user.is_staff %}
      <nav>
         <h3>Admin:</h3>
         <ul>
	    <li><a href="{% url report %}">Weekly Report</a></li>
	    <li><a href="{% url weekly_papers %}">Weekly Papers</a></li>
	    <li><a href="{% url weekly_datasets %}">Weekly Datasets</a></li>
	    <li><a href="{% url admin %}">Admin</a></li>
	    <li><a href="{% url teams %}">Teams</a></li>
	    <li><a href="{% url submissions_admin %}">Paper Submissions</a></li>
	    <li><a href="{% url admin_help %}">Help</a></li>
	 </ul>
      </nav>
      {% endif %}
{% endblock %}
