{% extends "datacollection/base.html" %}
{% load dc_extras %}

{% block title %}Cistrome Paper Collection{% endblock %}
{% block include %}
<link href="{% url static_url %}css/datasets.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="{% url static_url %}js/highcharts.js"></script>
<!--<script src="{% url static_url %}js/prototype.js" type="text/javascript"></script>-->
<script src="{% url static_url %}js/settings.js" type="text/javascript"></script>
<script src="{% url static_url %}js/Utils.js" type="text/javascript"></script>
<script src="{% url static_url %}js/dcstats.js" type="text/javascript"></script>
{% endblock %}

{% block login_form %}
      {% if user.is_authenticated %}
      <span id="login">Welcome, {{ user.username }}. <a href="{% url logout %}">logout</a></span>
      {% else %}
      <form action="{% url login %}" method="post" id="login">
         <label for="username">Administrator Login:</label>
	 <input type="text" name="username" id="username"/>
         <label for="password">Password:</label>
	 <input type="password" name="password" id="password"/>
	 <input type="submit" name="login" value="login"/>
      </form>
      {% endif %}
{% endblock %}

{% block onload %}
onload="init();"
{% endblock %}

{% block content %}
<section id="graphs">
</section>

{% endblock %}
