{% extends "datacollection/base.html" %}

{% block title %}Cistrome Paper Collection{% endblock %}
{% block include %}
<link href="{% url static_url %}css/home.css" rel="stylesheet" type="text/css"/>
<script src="{% url static_url %}js/prototype.js" type="text/javascript"></script>
<script src="{% url static_url %}js/settings.js" type="text/javascript"></script>
<script src="{% url static_url %}js/Models.js" type="text/javascript"></script>
<script src="{% url static_url %}js/Utils.js" type="text/javascript"></script>
<script src="{% url static_url %}js/home.js" type="text/javascript"></script>
{% endblock %}

{% block login_form %}
      {% if user.is_authenticated %}
      <span id="login">Welcome, {{ user.username }}. <a href="{% url logout %}">logout</a></span>
      {% else %}
      <form action="{% url login %}" method="post" id="login">
         <label for="username">Administrator Login:</label>
	 <input type="text" name="username" id="username"/>
         <label for="password">Password:</label>
	 <input type="password" name="password" id="password"/>
	 <input type="submit" name="login" value="login"/>
      </form>
      {% endif %}
{% endblock %}

{% block onload %}
onload="init();"
{% endblock %}

{% block content %}
      <p><input type="text" id="search" value=""></input>
	 <input type="button" value="Search" id="searchBtn"/>
      </p>
      <!--Results table-->
      <table class="datatable" id="papers_table">
      </table>

      <!--inspired by www.factorbook.org -->
      <section class="collapsable_box"> 
	<header class="collapsable_box_header">Paper:</header> 
	<section class="collapsable_box_content"> 
	      <section id="paper_info"> </section> 
	</section>
      </section>
      
      <section class="collapsable_box"> 
	<header class="collapsable_box_header">Datasets:</header> 
	<section class="collapsable_box_content"> 
	      <section id="datasets"> </section> 
	</section>
      </section>

      <section class="collapsable_box"> 
	<header class="collapsable_box_header">Samples:</header> 
	<section class="collapsable_box_content"> 
	      <section id="samples"> </section> 
	</section>
      </section>

{% endblock %}

{% block sidebar %}
{% comment %}
      <nav>
         <h3>Links:</h3>
         <ul>
	    <li><a href="{% url search %}">Search</a></li>
	    <li><a href="{% url papers %}">Browse Papers</a></li>
	    <li><a href="{% url datasets %}">Browse Datasets</a></li>
	    <li><a href="{% url paper_submission %}">Help Us- Submit Papers for Curation</a></li>
	 </ul>
      </nav>
      {% if user.is_authenticated %}
      <nav>
         <h3>Admin:</h3>
         <ul>
	    <li><a href="{% url report %}">Weekly Report</a></li>
	    <li><a href="{% url weekly_papers %}">Weekly Papers</a></li>
	    <li><a href="{% url weekly_datasets %}">Weekly Datasets</a></li>
	    <li><a href="{% url admin %}">Admin</a></li>
	    <li><a href="{% url teams %}">Teams</a></li>
	    <li><a href="{% url submissions_admin %}">Paper Submissions</a></li>
	    <li><a href="{% url admin_help %}">Help</a></li>
	 </ul>
      </nav>
      {% endif %}
{% endcomment %}
{% endblock %}
