{% extends "datacollection/base.html" %}

{% block title %}New Paper Form{% endblock %}
{% block include %}
<link href="{% url static_url %}css/forms.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
      {% if form.errors %}
         <p>Please correct the error{{ form.errors|pluralize }} below.</p>
      {% endif %}
      <div id="content_div">
         <h2 class="section_hdr">Paper Form:</h2>
	 <form action="" method="post">
	     {{ form.as_p }}
	     <input type="submit" value="Submit"/>
	 </form>
      </div>
{% endblock %}
