{% extends "datacollection/login_base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block include %}
<link href="{% url static_url %}css/forms.css" rel="stylesheet" type="text/css"/>
<link href="{% url static_url %}css/home.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
      {% if form.errors %}
         <p>Please correct the error{{ form.errors|pluralize }} below.</p>
      {% endif %}
      <!--<div id="content_div">-->
         <h2 class="section_hdr">{{ title }}:</h2>
	 <span class="msg">{{ msg }}</span>
	 <form action="" method="post">
	     <p><label for="id_pmid">Pubmed ID:</label> <input type="text" name="pmid" id="id_pmid" /></p> 
	     <p><span class="msg">--OR--</span></p>
	     <p><label for="id_gseid">GSE ID:</label> <input type="text" name="gseid" id="id_gseid" /></p> 
	     <p><label for="id_submitter_name">Your Name (optional):</label> <input type="text" name="submitter_name" id="id_submitter_name" /></p> 
	     <p class="info"><input type="submit" id="submitBtn" value="Submit"/><p>
	 </form>
      <!--</div>-->
{% endblock %}

{% block sidebar %}
      <nav>
	 <ul>
	    {% for pg, url, name in sidebar  %}
	    {% ifequal currpage pg %}
	    <li>{{name}}</li>
	    {% else %}
	    <li><a href="{{url}}">{{name}}</a></li>
	    {% endifequal %}
	    {% endfor %}
	 </ul>
      </nav>
      {% if user.is_staff %}
      <nav>
         <h3>Admin:</h3>
         <ul>
	    <li><a href="{% url report %}">Weekly Report</a></li>
	    <li><a href="{% url weekly_papers %}">Weekly Papers</a></li>
	    <li><a href="{% url weekly_datasets %}">Weekly Datasets</a></li>
	    <li><a href="{% url admin %}">Admin</a></li>
	    <li><a href="{% url teams %}">Teams</a></li>
	    <li><a href="{% url submissions_admin %}">Paper Submissions</a></li>
	    <li><a href="{% url admin_help %}">Help</a></li>
	 </ul>
      </nav>
      {% endif %}
{% endblock %}
