{% extends "datacollection/base.html" %}
{% block title %}Cistrome Paper Collection - Weekly Report{% endblock %}
{% block include %}
<link href="{% url static_url %}css/teams.css" rel="stylesheet" type="text/css"/>
<!--
<script src="{% url static_url %}js/prototype.js" type="text/javascript"></script>
<script src="{% url static_url %}js/settings.js" type="text/javascript"></script>
<script src="{% url static_url %}js/papers.js" type="text/javascript"></script>
-->
{% endblock %}

{% block login_form %}
      {% if user.is_authenticated %}
      <span id="login">Welcome, {{ user.username }}. <a href="{% url logout %}">logout</a></span>
      {% endif %}
{% endblock %}

{% block content %}
<h2>Weekly Student Report</h2>
<h4>{{week.begin}} to {{week.end}}</h4>
<section>
    <header>Paper Collection Summary:</header>
    <table>
        <tr>
            <th>Student</th>
	    <th>Papers</th>
	    <th>Total Papers</th>
	    <th>Datasets</th>
	    <th>Total Datasets</th>
	    <th>Human TF</th>
	    <th>Mouse TF</th>
	    <th>Human HM</th>
	    <th>Mouse HM</th>
	</tr>
	{% for u in paperTeam %}
        <tr>
            <td><a href="#{{u.user.username}}">{{ u.user.username }}</a></td>
	    {% if date %}
            <td><a href="{% url weekly_papers %}{{u.user.id}}/?date={{date}}">{{ u.weekPapers|length }}</a></td>
	    {% else %}
	    <td><a href="{% url weekly_papers %}{{u.user.id}}/">{{ u.weekPapers|length }}</a></td>
	    {% endif %}
            <td><a href="{% url papers %}{{u.user.id}}/">{{ u.allPapers|length }}</a></td>
	    {% if date %}
            <td><a href="{% url weekly_datasets %}{{u.user.id}}/?date={{date}}">{{ u.weekDatasets|length }}</a></td>
	    {% else %}
            <td><a href="{% url weekly_datasets %}{{u.user.id}}/">{{ u.weekDatasets|length }}</a></td>
	    {% endif %}
            <td><a href="{% url datasets %}{{u.user.id}}/">{{ u.allDatasets|length }}</a></td>
	    <td><a href="{% url datasets %}{{u.user.id}}/?species=hs&ftype=tf">{{u.humanTF|length}}</a></td>
             <td><a href="{% url datasets %}{{u.user.id}}/?species=mm&ftype=tf">{{u.mouseTF|length}}</a></td>
	     <td><a href="{% url datasets %}{{u.user.id}}/?species=hs&ftype=hm">{{u.humanHM|length}}</a></td>
             <td><a href="{% url datasets %}{{u.user.id}}/?species=mm&ftype=hm">{{u.mouseHM|length}}</a></td>
        </tr>
        {% endfor %}    
    </table>
</section>
<section>
    <header>Data Collection Summary:</header>
    <table>
        <tr>
            <th>Student</th>
	    <th>Datasets</th>
	    <th>Total Datasets</th>
	    <th>Human TF</th>
	    <th>Mouse TF</th>
	    <th>Human HM</th>
	    <th>Mouse HM</th>
        </tr>
	{% for u in dataTeam %}
        <tr>
            <td><a href="#{{u.user.username}}">{{ u.user.username }}</a></td>
	    {% if date %}
	    <td><a href="{% url weekly_datasets %}{{u.user.id}}/?uploader=true&date={{date}}">{{ u.weekDatasets|length }}</a></td>
	    {% else %}
            <td><a href="{% url weekly_datasets %}{{u.user.id}}/?uploader=true">{{ u.weekDatasets|length }}</a></td>
	    {% endif %}
            <td><a href="{% url datasets %}{{u.user.id}}/?uploader=true">{{ u.allDatasets|length }}</a></td>
	    <td><a href="{% url datasets %}{{u.user.id}}/?species=hs&ftype=tf&uploader=true">{{u.humanTF|length}}</a></td>
             <td><a href="{% url datasets %}{{u.user.id}}/?species=mm&ftype=tf&uploader=true">{{u.mouseTF|length}}</a></td>
	     <td><a href="{% url datasets %}{{u.user.id}}/?species=hs&ftype=hm&uploader=true">{{u.humanHM|length}}</a></td>
             <td><a href="{% url datasets %}{{u.user.id}}/?species=mm&ftype=hm&uploader=true">{{u.mouseHM|length}}</a></td>
        </tr>
        {% endfor %}    
    </table>
</section>
<section>
    <header>Paper Collection Details:</header>
    {% for u in paperTeam %}
    {% if u.weekPapers|length or u.weekDatasets|length %}
    <a name="{{u.user.username}}">{{u.user.username}}</a>
    {% if u.weekPapers|length %}
    <table>
        <tr><th>Papers (# Datasets)</th>
	    <!--<th>Assoc. Datasets</th>-->
	</tr>	
	{% for p in u.weekPapers %}
	<tr>
	    <td><a href="{% url paper_profile p.id %}">{{p.pmid}}</a> (<a href="{% url datasets %}{{u.user.id}}/?paper={{p.id}}">{{p.datasets|length}}</a>)</td>
	    <!--<td><a href="{% url datasets %}{{u.user.id}}/?paper={{p.id}}">{{p.datasets|length}}</a></td>-->
	</tr>
	{% endfor %}
    </table>
    {% endif %}
    {% endif %}
    {% endfor %}
</section>
<section>
    <header>Data Collection Details:</header>
    {% for u in dataTeam %}
    {% if u.weekDatasets|length %}
    <a name="{{u.user.username}}">{{u.user.username}}</a>
    <table>
        <tr><th>Datasets</th></tr>
	{% for d in u.weekDatasets %}
	{% cycle '<tr>' '' '' %}
	   <td><a href="{% url dataset_profile d.id %}">{{d.gsmid}}</a></td>
	{% cycle '' '' '</tr>' %}
	{% endfor %}
    </table>
    {% endif %}
    {% endfor %}
</section>
{% endblock %}

